# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [54]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [55]:
# load messages dataset
messages = pd.read_csv('data/disaster_messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [56]:
# load categories dataset
categories = pd.read_csv('data/disaster_categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [57]:
# merge datasets
df = messages.merge(categories, how='left', on=['id'])
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [58]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(';', expand=True)
categories.head()

,0,1,2,3,4,5,6,7,8,9,...,26,27,28,29,30,31,32,33,34,35
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

In [59]:
# select the first row of the categories dataframe
row = categories.iloc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = list(row.transform(lambda x: x[:-2]))
print(category_colnames)

['related', 'request', 'offer', 'aid_related', 'medical_help', 'medical_products', 'search_and_rescue', 'security', 'military', 'child_alone', 'water', 'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees', 'death', 'other_aid', 'infrastructure_related', 'transport', 'buildings', 'electricity', 'tools', 'hospitals', 'shops', 'aid_centers', 'other_infrastructure', 'weather_related', 'floods', 'storm', 'fire', 'earthquake', 'cold', 'other_weather', 'direct_report']

In [60]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [61]:
# converting category values to just numbers 0 or 1.

for column in categories:
    # set each value to be the last character of the string
    categories[column] = categories[column].str[-1].astype(str)
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [62]:
# drop the original categories column from `df`
df = df.drop('categories', axis=1)
df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [63]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df, categories], axis=1)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [64]:
# making a copy before cleaning the dataset
df_clean = df.copy()

In [65]:
# checking the number of columns and rows before cleaning
df_clean.shape

(26386, 40)

In [66]:
# checking the number of duplicates
df_clean.duplicated().sum()

170

In [67]:
# dropping duplicates
df_clean = df.drop_duplicates()

In [68]:
# checking number of duplicates
print(df_clean.duplicated().any())
print(df_clean.duplicated().sum())

False
0

In [69]:
# checking the number of columns and rows after dropping dublicates
df_clean.shape

(26216, 40)

In [70]:
# making sure the data is clean and has only two values 0 and 1 for each category by 
#reporting the columns with other than 2 unique values
col_values = [x for x in categories if len(np.unique(categories[x])) != 2]
col_values

['related', 'child_alone']

In [71]:
# printing the number of messages of each unique for related and child_alone
print(categories['related'].value_counts())
print(categories['child_alone'].value_counts())

1    20042
0     6140
2      204
Name: related, dtype: int64
0    26386
Name: child_alone, dtype: int64

In [72]:
# dropping child_alone as it doesn't add any info
df_clean = df_clean.drop('child_alone', axis=1)

In [73]:
# priniting the messages that have a category related_2
print(df_clean.message[df_clean.related == 2])

117      Dans la zone de Saint Etienne la route de Jacm...
221      . .. i with limited means. Certain patients co...
307      The internet caf Net@le that's by the Dal road...
462      Bonsoir, on est a bon repos aprs la compagnie ...
578      URGENT CRECHE ORPHANAGE KAY TOUT TIMOUN CROIX ...
657      elle est vraiment malade et a besoin d'aide. u...
889      no authority has passed by to see us. We don't...
903      It's Over in Gressier. The population in the a...
931      we sleep with the baby. Thanks in advance for ...
937      I need help in Jrmie because I was in Port-au-...
939      fsa pou mwen s v p map mouri mwen gen tout po ...
1234     .. Gonaives, in a place called Canal Bois in F...
1256     GEN YON TIBEBE KI MALAD NAN KOU PASKE BLOK TON...
1317     don't understand the first part. .. understand...
1409     Est-ce que ya monde qui aller U. s. a et qui o...
1506     Gens ont information qui dit que si on moins c...
1694         This is my address : Cersine 8 Prolong. .. .
1788     I would like to have some information on the l...
2354     No location : Ou se trouve l'ambassade du Snga...
2479     Je veux savoir comment je peux obtenir de l'ai...
2544         142, Ruelle Beaulieu, Mon Repos 44 Carrefour
2560     . ..  Esdras. Address : Solidarit Village, Tou...
3033     Route des dalles prolonges #277 after Morne Je...
3138     we are in rue Dessalines Petit goaves and it n...
3374     I am very happy to get the messages that tell ...
3630                   mouin vle kite ayiti depi kek jou.
4609     Mwen ta renmen jwenn yon djb. ske gen posiblit...
4651     (Delmas 33 Charboniere infomatyon s'il vous pl...
4746                  Carrefour Feuille rue Mgr Prol # 39
4805                 Ede m nan lort pou genyen yon bourss
                               ...
12392    SYED EJAZ BUKHARI MAOZA SHAH WALI TEHSIL ALI P...
12396    TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA K...
12397    TAUSEEF KHAN S/O AKBAR DIN MIANWALI TEH ESSA K...
12398    TEH SUHBAT PUR VILL NASEER KHAN KHOSA MY PRESE...
12407    UN aur UN K Nimaidon ko Apeel krt hain k? Hama...
12416    I allhadino khaskheli UC chatto a dehe a shalu...
12418    village koor mir mohmmad u c burira takuka kha...
12425    gaav valay aahar aor aarthik samashyaa saamna ...
12427      CONNFCTION     /         .     SOLANGI,     ...
12479    @jujoffer: So Frankenstorm has been reduced to...
12685    #SandyUntappd ‚àö‚â• Drinking an Oatmeal Stout...
12758    atrickSF @antmarshall @kleankut1 @somarlavous ...
13732    Les habitants, dont l'activité est essentielle...
14938    Jusqu'à présent, les 133 femmes qui participen...
15029    Despite rapid deliveries of tents and other re...
15609    All available resources were put forward to de...
15933    The six countries will also adopt a training c...
15979    "It was very windy and there were heavy thunde...
16046    The 50 international hospital staff lived in a...
16925    L'Armée suisse a cependant le savoir-faire et ...
17528    PETR V. ILIICHEV (Russian Federation) said the...
18381    * Par ailleurs, aucune victime française n'a é...
18644    Refugees International therefore recommends that:
19849    This combination of low agricultural productio...
20192    crop, loss of hydro-electric generating capaci...
20465         transferred to a sanitary landfill site by a
20636    Families also have solar lamps which can be re...
22481    Read the [full blog post](http://www.odi.org.u...
23537    Actualmente e independientemente de la ayuda d...
25385    Mali's former President Amadou Toumani Touré -...
Name: message, Length: 188, dtype: object

In [74]:
# dropping messages in related_2 as they appear in many different languages
df_clean = df_clean[df_clean.related != 2]
df_clean.sample(3)

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
24288,27899,"As news of the killing spread, people in Gilgi...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
21972,25319,"""We have lived with burst sewers and heaps of ...",NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9676,10825,NOTES: This kind of message is not important f...,Fatra nan cadet jeremie kamyon an pa janm vini...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
# checking the new number of columns and rows
df_clean.shape

(26028, 39)

In [76]:
# getting dummies for genre
print(df_clean.genre.unique())
genre_dummies = pd.DataFrame(pd.get_dummies(df_clean['genre']))
genre_dummies.sample(5)

['direct' 'social' 'news']

       direct  news  social
23835       0     1       0
17351       0     1       0
1925        1     0       0
21676       0     1       0
16201       0     1       0

In [77]:
# concatenate the dataframe with the new genre dataframe
df_final = pd.concat([df_clean.drop('genre', axis=1), genre_dummies], axis=1)
df_final = df_final.drop('social', axis=1)
df_final.sample(3)

,id,message,original,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,...,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,direct,news
15870,18576,"As per IMD, snowfall upto 2m has occurred at m...",NaN,1,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
23199,26682,"However, the impact of the floods on industry,...",NaN,1,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
1325,1559,after how muche time does the earthquake stop?...,apre Kombyen tan tranbleman de ta a ap Fini?es...,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,1,1,0

In [78]:
# checking the final number of columns and rows
df_final.shape

(26028, 40)

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [79]:
engine = create_engine('sqlite:///DisasterResponse.db')
df_final.to_sql('Messages', engine, index=False, if_exists='replace')

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.